@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  font-family: "Merriweather", serif;
  background-color: white;
  color: black;
  scroll-behavior: smooth;
}

section {
  width: 100dvw;
}

@theme {
  --color-primary: #6B4F3A;
  --color-secondary: #150C07;
  --color-navbar: #E4DED2;
  --color-white-50: #d9ecff;
  --color-black-50: #1c1c21;
  --color-black-100: #0e0e10;
  --color-black-200: #282732;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
}

@layer components {
  .padding-x {
    @apply px-5 md:px-10;
  }

  .padding-x-lg {
    @apply px-5 md:px-20;
  }

  .section-padding {
    @apply px-5 md:px-10 md:mt-40 mt-20;
  }

  .mt-responsive {
    @apply xl:mt-20 md:mt-0 mt-40;
  }

  /* General Grids */
  .grid-base {
    @apply grid grid-cols-1;
  }

  .grid-2-cols {
    @apply grid grid-cols-1 md:grid-cols-2 gap-6;
  }

  .grid-3-cols {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6;
  }

  .grid-3-cols-md-tight {
    @apply grid grid-cols-1 md:grid-cols-3 gap-5 md:gap-0;
  }

  .grid-4-cols {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-7;
  }

  .grid-12-cols {
    @apply grid grid-cols-1 xl:grid-cols-12 gap-10;
  }

  .navbar {
    @apply fixed w-full left-1/2 px-5 py-10 xl:py-5 md:px-10 -translate-x-1/2 z-[100]
    border-b border-black-200 backdrop-blur-2xl bg-navbar;

    .inner {
      @apply mx-auto flex items-center justify-center;
    }

    .logo {
      @apply absolute left-5 top-5 w-10 cursor-pointer
      transition-all duration-500 ease-in-out;
    }

    nav.desktop {
      @apply hidden lg:flex items-center;

      ul {
        @apply flex space-x-8 gap-5;

        li {
          @apply text-secondary relative text-2xl transition duration-500;

          span {
            @apply transition-colors duration-500 hover:text-white;
          }
        }

        li:hover {
          @apply translate-y-1 text-primary;
        }
      }
    }

    .btn-primary {
      @apply flex absolute top-4 right-3 xl:right-2 bg-primary
      text-white text-xl font-bold p-2 px-5 rounded-lg
      justify-center cursor-pointer transition-all duration-500 ease-in-out;

      &:hover {
        @apply bg-secondary;

        box-shadow: 0 0 15px var(--color-secondary);
      }
    }
  }
}